<div>
<div>
      <select [(ngModel)]="selectedCountryIndex" (change)="onCountrySelectionChange()">
        <option *ngFor="let country of countries; let i = index" [value]="i" [selected]="country.code === phoneNumberCountry?.code">
          {{ country.emoji }} {{ country.name }} ({{ country.dial_code }})
        </option>
      </select>
      <span> {{phoneNumberCountry?.dial_code}} </span>
      <span> {{selectedCountry?.dial_code}} </span>
      <input type="tel" [formControl]="internalFormControl"  (ngModelChange)="onPhoneNumberChange()" [maxLength]="18" (focusout)="trackBlur()">
</div>
<div
  class="invalid-feedback"
  [class.d-block]="showValidationFeedback"
  [class.invisible]="
                     !internalFormControl.value ||
                     !showValidationFeedback ||
                     internalFormControl.valid
                     "
  i18n="@@invalid-phone"
>
  * Bitte gib eine gültige Telefonnummer an
</div>
</div>
